body {
  margin-top: 2rem;
}

.custom-container {
  width: 60vw;
  margin: auto;
}

nav {
  margin-bottom: 2rem;
}

.content-container {
  padding: 1rem;
  border: solid black 2px;
}

span {
  font-weight: bold;
}

table thead tr {
  background-color: lightgray;
}
